# Core data processing
pandas==2.2.2
numpy==1.26.4

# Database
sqlalchemy==2.0.29
psycopg2-binary==2.9.9

# HTTP requests (for extract step)
requests==2.31.0

# Airflow providers (Postgres connection)
apache-airflow-providers-postgres==5.10.0

# Optional (but very useful)
python-dotenv==1.0.1

# Logging / utilities
loguru==0.7.2

# Data validation (optional but impressive)
pydantic==2.7.1